body {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  width: 210px;
  padding: 20px;
  color: rgb(255, 255, 255);
  border: solid black 2px;
}
.container{
      background: rgb(255, 69, 69);
}
input[type="button"] {
  background-color: rgb(255, 132, 132);
  color: rgb(0, 0, 0);
  padding: 20px;
  width: 100%;
}

input[type="text"] {
  background-color: white;
  border: solid rgb(128, 2, 2) 2px;
  padding: 20px;
  width: 100%;
}

table {
  border: none;
}
